.SinglePriceGrid {
  border: 1px solid red;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;

  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas:
    "header header"
    "price why-us";
  gap: 20px;

  @media (max-width: 1024px) {
    margin-left: 10%;
    margin-right: 10%;

    grid-template: 1fr 1fr 1fr / 1fr;
    grid-template-areas:
      "header"
      "price"
      "why-us";
  }
}

.header {
  border: 1px solid blue;

  grid-area: header;
}

.price {
  grid-area: price;
  border: 1px solid green;
}

.why-us {
  grid-area: why-us;
  border: 1px solid orange;
}
