.single-price-grid {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;

  width: 90%;
  font-size: var(--fs-regular);

  box-shadow: 0px 2px 82px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 82px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 82px -11px rgba(0, 0, 0, 0.75);

  transition: width 0.5s ease-in;

  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  grid-template-areas:
    "header"
    "price"
    "why-us";
}

.header {
  padding: 30px 40px 0px 40px;

  grid-area: header;
  display: grid;
  grid-template: 0.5fr 0.5fr 1fr / 1fr;
}

.header__title {
  color: var(--fc-teal-500);
  font-weight: var(--fw-bold);
  font-size: 1.5em;
}

.header__sub_title {
  color: var(--fc-green-400);
  font-weight: var(--fw-bold);
  font-size: 1.25em;
}

.header__paragraph {
  color: var(--fc-green-500);
  font-weight: var(--fw-regular);
  font-size: var(--fs-regular);
}

.sign-up {
  background-color: var(--fc-teal-500-darker);
  padding: 40px;
  max-height: 400px;
  color: #fff;
  padding-top: 20px;

  grid-area: price;
  display: grid;
  gap: 10px;
}

.sign-up__heading {
  top: 0;

  font-size: var(--fs-sub-heading);
}

.sign-up__pricing > * {
  vertical-align: middle;
}

.sign-up__pricing-cost {
  display: inline-block;
  font-size: 2em;
}

.sign-up__pricing-month {
  color: var(--fc-teal-100);
}

.sign-up__description {
  font-weight: var(--fw-regular);
  font-size: var(--fs-regular);
}

.sign-up__button {
  background-color: var(--fc-green-400);
  color: var(--fc-teal-100);
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: var(--fs-regular);
}

.why-us {
  max-height: 400px;
  background-color: var(--fc-teal-500);
  color: #fff;
  padding: 40px;
  padding-top: 20px;

  grid-area: why-us;
  display: grid;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.why-us__heading {
  font-size: var(--fs-sub-heading);
}

.why-us__description {
  font-size: var(--fs-regular);
}

/* Small tablets and larger mobile devices (481px - 768px) */
@media (min-width: 481px) {
  .single-price-grid {
    margin-left: 10%;
    margin-right: 10%;

    width: 80%;
  }
}

/* Tablets and small laptops (769px - 1024px) */
@media (min-width: 769px) {
  .single-price-grid {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas:
      "header header"
      "price why-us";
  }
}

/* Large desktops and high-resolution screens (1025px and up) */
@media (min-width: 1025px) {
  .single-price-grid {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }
}

/* Extra-large screens (1440px and up) */
@media (min-width: 1440px) {
  .single-price-grid {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }
}
